/* ESTILOS GLOBALES DEL SITIO */

* {
  margin: 0 auto;
}
p {
  padding: 0px;
  margin: 0px ;
  color: #D50000;
}
a {
  color: white;
  padding: 0 10px;
  text-decoration: none;
}
body {
  font-family: 'Rubik', sans-serif;
}

/* ACA EMPIEZA EL HEADER DEL SITIO*/

.navbar {
  background-color: #23395B;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.navbar div {
  padding: 20px;
}
.menu {
  margin-left: 10em;
}
.cuentas{
  margin-right: 10em;
}

/* ACA COMIENZA EL CUERPO DEL SITIO*/

main {
  background-color: #f3f4f1;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: ;
}
h1{
  color: #2d82b7;
  height: 10vh;
}
form {
  color: #23395B;
  font-size: 20px;
  padding: 25px;
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12);
  width: 25%;
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.nombreC, .apellidoC, .emailC, .telefonoC, .direccionC, .paisC, .votosC, .partidoC, .mandatoC{
  width: 80%;
  padding: 5px;
}
.partidoC, .mandatoC{
  display: flex;
  flex-direction: row;
}
.nombre, .apellido, .email, .telefono, .direccion, .pais, .votos, .partido, .mandato{
  display: flex;
  flex-direction: row;
  width: 100%;
}
form input{
  outline: none;
  border: none;
  border-bottom: 2px solid lightgrey;
}
input{
  width: 100%;
}
input:focus {
  border-bottom: 2px solid #78c0e0;
}
.boton{
  display: flex;
  flex-direction: column;
  width: 25%;
}
button{
  font-family: 'Rubik', sans-serif;
  margin-top: 30px;
  color: white;
  width: 100%;
  font-weight: bold;
  background-color: lightgrey;
  border-radius: 30px;
  border: none;
  padding: 15px 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12);
}
small {
  color: #D50000;
  margin: 0px;
}
footer{
  background-color: #161925;
  height: 35px;
}

/* ACA VA LA PAG GRACIAS */

.btn {
  font-family: 'Rubik', sans-serif;
  margin-top: 30px;
  color: white;
  font-weight: bold;
  background-color: #78c0e0;
  border-radius: 30px;
  border: none;
  padding: 15px 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12);
}

/* ACA VA LOGIN Y REGISTER */

.passwordC {
  width: 80%;
  padding: 5px;
}
.password {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.checked {
  width: 15px;
  margin: 5px;
}
.rememberC{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}
.btn-loginC{
  display: flex;
  flex-direction: column;
}
.btn-login{
  font-family: 'Rubik', sans-serif;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  background-color: #78c0e0;
  border-radius: 30px;
  border: none;
  padding: 15px 20px;
  width: 50%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12);
}
.forgot{
  color: #23395B;
  margin-top: 10px;
}
.btn-registerC{
  display: flex;
  flex-direction: column;
  width: 25%;
}
.btn-register{
  font-family: 'Rubik', sans-serif;
  margin-top: 30px;
  color: white;
  font-weight: bold;
  background-color: #78c0e0;
  border-radius: 30px;
  border: none;
  padding: 15px 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12);
}

table{
  text-align: center;
  color: #23395B;
  font-size: 20px;
  padding: 50px;
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12);
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
}
thead{
  background-color: #2D82B7;
}
thead th{
  border-top-right-radius: 20px ;
  border-top-left-radius: 20px;
  margin: 0 auto;
  padding: 10px;
  color: white;
}
tbody tr:nth-child(even){
  background-color: #87CDE6;
}
tbody i {
  color: #23395B;
}
